<footer class="ui segment attached background-deep-green margin-top-30">
  <div class="ui container ">
    <div class="ui grid stackable footer-hide">
      <!-- 缩略图 -->
    

    </div>
    <!-- 分割线 -->
    <div class="ui divider title-divider footer-hide"></div>
    <div class="ui container margin-top-10 page-footer">xingyunwz.top © 2022</div>
    <div class="ui container margin-top-10 page-footer"><%- partial('_partial/widget/dayCounting') %></div>
  
  </div>
</footer>
