<!-- header -->
<header class="ui segment attached background-deep-green border-none">
  <div class="ui container header-container grid  stackable">
    <div class="left floated six wide column">
      <h1 class="ui header font-thin-yellow">
        <div class="content">
          <a href="/" class="title-href"><%=theme.blogTitle.bigtitle%></a>
          <div class="ui divider title-divider"></div>
          <div class="sub header font-thin-yellow"><%=theme.blogTitle.subtitle%></div>
        </div>
      </h1>
    </div>
  </div>
</header>
